In [2]:
def say_hello():
    print("Hello")

In [3]:
say_hello()

Hello

In [4]:
def say_hello():
    print("Hello")
say_hello()

Hello

In [5]:
def say_something(something):
    print(something)

jane

In [6]:
jane_says = "Hello Im Jane and im learning Python"
say_something(jane_says)

Hello Im Jane and im learning Python

In [7]:
def passing_math_percent(pass_math_count,student_count):
    return pass_math_count/float(student_count) * 100

In [9]:
passing_math_count = 29370
total_student_count = 39170
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [22]:
my_grades = ['A','B','C','B','A','B','C']
my_grades

['A', 'B', 'C', 'B', 'A', 'B', 'C']

In [23]:
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    A
1    B
2    C
3    B
4    A
5    B
6    C
dtype: object

In [24]:
my_grades.map({'A':'a','B':'b','C':'c'})

0    a
1    b
2    c
3    b
4    a
5    b
6    c
dtype: object

In [32]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92.3
84.6
86.8
98.3

In [33]:
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [34]:
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [35]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [45]:
class Cat:
    def __init__(self,name):
        self.name = name
        print(self.name)

In [47]:
cat1 = Cat('felix')
second_cat = Cat('Garfield')

felix
Garfield

In [51]:
class Dog:
    def __init__(self,name,color,sound):
        self.name = name
        self.color = color
        self.sound = sound
        print(self.name)
        print(self.color)
    def bark(self):
        return self.sound+' '+self.sound

In [52]:
first_dog = Dog('Marshall','white','bow-bow')
# print(first_dog.name)
# print(first_dog.color)
first_dog.bark()

Marshall
white

'bow-bow bow-bow'

In [ ]:
avg_math_score_9th_grade = school_data_complete_df.groupby['school_name'].mean().['math_score']