In [2]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [3]:
print(high_schools)

['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

In [4]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [15]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for key in high_school_types.keys():
    print("key:{},value:{}".format(key,high_school_types[key]))

AttributeError: 'list' object has no attribute 'keys'

In [16]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [17]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for key,value in high_school_types[0].items():
    print("{}:{}".format(key,value))

High School:Griffin
Type:District

In [20]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for i in high_school_types:

    for key,value in i.items():
        print(f"{key}:{value}")

High School:Griffin
Type:District
High School:Figueroa
Type:District
High School:Wilson
Type:Charter
High School:Wright
Type:Charter

In [21]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [26]:
import pandas as pd
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
school_series = pd.series(high_schools)

AttributeError: module 'pandas' has no attribute 'series'

In [27]:
school_Series

NameError: name 'school_Series' is not defined

In [28]:
school_series

NameError: name 'school_series' is not defined

In [30]:
import pandas as pd
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [31]:
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [32]:
import pandas as pd
school_series = pd.Series(high_schools)

In [33]:
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [34]:
for i in school_series:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [35]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [36]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
school_id = [1,2,3,4]
school_id_df = pd.DataFrame(school_id)
school_id_df

   0
0  1
1  2
2  3
3  4

In [40]:
school_name = ['Rush','plymouth','Birchview','EagleRidge']
type_of_school = ['District','Charter','District','Charter']
schools_df = pd.DataFrame()
schools_df['School ID'] = school_id
schools_df['School name'] = school_name
schools_df['School type'] = type_of_school
schools_df

   School ID School name School type
0          1        Rush    District
1          2    plymouth     Charter
2          3   Birchview    District
3          4  EagleRidge     Charter

In [41]:
schools_df.columns

Index(['School ID', 'School name', 'School type'], dtype='object')

In [42]:
schools_df.values

array([[1, 'Rush', 'District'],
       [2, 'plymouth', 'Charter'],
       [3, 'Birchview', 'District'],
       [4, 'EagleRidge', 'Charter']], dtype=object)

In [43]:
schools_df.index

RangeIndex(start=0, stop=4, step=1)